body {
    font-family: Arial, sans-serif;
    background-color: #aaa;
    font-size: 1.4em;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

header nav {
    display: flex;
    gap: 40px;
}

.dropdown {
    position: relative;
}

.dropdown input[type="checkbox"] {
    display: none;
}

.dropdown label {
    cursor: pointer;
}

.dropdown label::after {
    content: "\25BC";
    font-size: 0.7rem;
    margin-left: 5px;
}

/* First-level dropdown menu */
.dropdown-menu {
    flex-direction: column;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}

.submenus {
    width: 20rem;
}

.submenus input {
    display: none;
}

.dropdown-canvas {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    display: none;
    flex-direction: row;
    width: 100%;
}


.dropdown input[type="checkbox"]:checked + label + .dropdown-canvas {
    display: flex;
}

.dropdown input[type="checkbox"]:checked + label::after {
    content: "\25B2";
    font-size: 0.7rem;
    margin-left: 5px;
}

.dropdown input[type="radio"]:checked + label::after {
    content: "\25B6";
    font-size: 0.7rem;
    margin-left: 5px;
}


.dropdown-canvas > ul > li, .dropdown-canvas > ul > li > label,  .dropdown-canvas > ul > li > a {
    padding: 10px 0 10px 10px;
    width: 100%;
    color: #333;
}


.dropdown-canvas > ul > li:hover, .dropdown-canvas > ul > li > a:hover {
    background-color: #f0f0f0;
}

/* Second-level dropdown */
.dropdown-canvas label {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px
}

.dropdown-content a {
    padding: 15px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.submenu-content {
    width: calc(100% - 20rem);
}

.dropdown-canvas:has(.dd1-sub1-input:checked) .dropdown1-submenu-1 {
    display: grid;
}

.dropdown-canvas:has(.dd1-sub1-input:checked) .submenu-content > .submenu-content:not(.dropdown1-submenu-1) {
    display: none;
}

.dropdown-canvas:has(.dd1-sub2-input:checked) .dropdown1-submenu-2 {
    display: grid;
}

.dropdown-canvas:has(.dd1-sub2-input:checked) .submenu-content > .submenu-content:not(.dropdown1-submenu-2) {
    display: none;
}

.dropdown-canvas:has(.dd1-sub3-input:checked) .dropdown1-submenu-3 {
    display: grid;
}

.dropdown-canvas:has(.dd1-sub3-input:checked) .submenu-content > .submenu-content:not(.dropdown1-submenu-3) {
    display: none;
}

.dropdown-canvas:has(.dd2-sub1-input:checked) .dropdown2-submenu-1 {
    display: grid;
}

.dropdown-canvas:has(.dd2-sub1-input:checked) .submenu-content > .submenu-content:not(.dropdown2-submenu-1) {
    display: none;
}

.dropdown-canvas:has(.dd2-sub2-input:checked) .dropdown2-submenu-2 {
    display: grid;
}

.dropdown-canvas:has(.dd2-sub2-input:checked) .submenu-content > .submenu-content:not(.dropdown2-submenu-2) {
    display: none;
}

.dropdown-canvas:has(.dd2-sub3-input:checked) .dropdown2-submenu-3 {
    display: grid;
}

.dropdown-canvas:has(.dd2-sub3-input:checked) .submenu-content > .submenu-content:not(.dropdown2-submenu-3) {
    display: none;
}

/* Mobile view */
@media (max-width: 768px) {
    header nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .dropdown-menu {
        position: static;
        box-shadow: none;
        border: none;
        display: none;
    }

    .dropdown input[type="checkbox"]:checked + label + .dropdown-menu {
        display: block;
    }
}
